<mat-slide-toggle [checked]="isOpened" #toggle labelPosition="before" (change)="changeState()">{{caption}}</mat-slide-toggle>

<div *ngIf="isOpened" id="show-more-content">
    <ng-content></ng-content>
</div>