mat-card.user-search {
    border-radius: 0;
}

mat-checkbox {
    padding-top: 15px;
    padding-bottom: 15px;
}

div.sort-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.age-search {
    display: flex;
}

mat-form-field.age-field {
    width: 120px;
    margin-right: 20px;
}

mat-label {
    margin-bottom: 5px;
}

app-show-more,
mat-card {
    display: flex;
    flex-direction: column;
}

@media (max-width: 380px) {
    .sort-block mat-icon {
        display: block;
        margin: auto;
    }

    mat-button-toggle::ng-deep .mat-button-toggle-label-content {
        line-height: initial;
        padding: 10px;
    }
}
