<mat-card class="user-search" [formGroup]="paramsForm">
    <h2>Пользователи</h2>
    <mat-form-field appearance="outline">
        <mat-label>Кого ищём ?</mat-label>
        <input matInput formControlName="query" name="query" autofocus>
    </mat-form-field>

    <app-show-more caption="Показать фильтры">
        <mat-checkbox formControlName="verified">Только подтверждённые</mat-checkbox>

        <mat-label>Возраст</mat-label>
        <div class="age-search">
            <mat-form-field class="age-field" appearance="outline">
                <mat-label>От</mat-label>
                <input matInput formControlName="ageMin" maxlength="3" name="ageMin">
            </mat-form-field>

            <mat-form-field class="age-field" appearance="outline">
                <mat-label>До</mat-label>
                <input matInput formControlName="ageMax" maxlength="3" name="ageMax">
            </mat-form-field>
        </div>

        <mat-label>Сортировка</mat-label>
        <div class="sort-block">
            <mat-button-toggle-group formControlName="sort" name="sorting">
                <mat-button-toggle value="name" checked>
                    <mat-icon>sort_by_alpha</mat-icon> Имя
                </mat-button-toggle>
                <mat-button-toggle value="age">
                    <mat-icon>cake</mat-icon> Возраст
                </mat-button-toggle>
                <mat-button-toggle value="subscribers">
                    <mat-icon>group</mat-icon> Подписчики
                </mat-button-toggle>
            </mat-button-toggle-group>

            <button mat-icon-button (click)="changeSortOrder()">
                <mat-icon *ngIf="paramsForm.controls['sortOrder'].value === 'asc'">arrow_upward</mat-icon>
                <mat-icon *ngIf="paramsForm.controls['sortOrder'].value === 'desc'">arrow_downward</mat-icon>
            </button>
        </div>
    </app-show-more>
</mat-card>