<button mat-button (click)="onClick()">
    <mat-card [class.selected]="isSelected | async">
        <div class="name-info">
            <mat-icon *ngIf="user.verified">how_to_reg</mat-icon>
            <mat-icon *ngIf="!user.verified">person</mat-icon>
            <h3 id="user-name">{{user.name}}</h3>

            <h3 id="user-id">#{{user.id}}</h3>
        </div>

        <div class="age-and-followers">
            <mat-icon>cake</mat-icon>
            {{user.age}}
            {{user.age | chooseDeclension}}

            <mat-icon id="followers-info">group</mat-icon>
            {{user.followers.length}}
        </div>
    </mat-card>
</button>