button.mat-button {
    color: transparent;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
    line-height: initial;
}

:host {
    margin: 10px;
    display: block;
}

button.mat-button:active mat-card {
    transform: scale(0.95);
}

mat-card {
    /*iPhone 5 width is 320px */
    min-width: 200px;
    transition: transform 0.1s ease-out;
}

.selected {
    filter: invert(100%);
}

mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.age-and-followers,
div.name-info,
#followers-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#followers-info,
#user-id {
    margin-left: auto;
}

#user-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

mat-icon {
    margin-right: 5px;
}

div.name-info {
    margin-bottom: 15px;
}
