<mat-toolbar class="mat-toolbar app-toolbar mat-elevation-z3" color="primary">
  <button id="toggle-sidenav" class="mat-button" mat-button (click)="sidenav.toggle()">
    <i class="material-icons">menu</i>
  </button>
  <span>Users-list</span>
  <span class="fill-remaining-space"></span>
  <mat-slide-toggle (change)="onThemeChange()" class="toggle-theme" [checked]="!(themeChange | async)">
    <i class="material-icons">color_lens</i>
  </mat-slide-toggle>
  <mat-icon [style.color]="connection.isOnline | async | networkColor">fiber_manual_record</mat-icon>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z3" #sidenav [mode]="sidenavType | async" [(opened)]="sidenavOpened">
    <app-user-list></app-user-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-user-info></app-user-info>
  </mat-sidenav-content>
</mat-sidenav-container>
