.app-toolbar {
    padding: 0;
}

#toggle-sidenav {
    height: 100%;
}

.toggle-theme {
    padding: 1rem;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-sidenav-container {
    flex: 1;
}

mat-sidenav {
    width: 430px;
    max-width: 100vw;
}

app-users-page {
    height: 100%;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

mat-icon {
    margin-left: auto;
    margin-right: 10px;
}
