/* You can add global styles to this file, and also import other style files */

html,
body,
app-root {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
}

mat-icon {
    vertical-align: middle;
    font-size: 1.3em !important;
    height: 1em !important;
    width: 1em !important;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
    font-weight: 100;
}

h3 {
    font-size: 1.25em;
    font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.3em 0;
}

::-webkit-scrollbar {
  background: #212121;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

@media (max-width: 700px) {
    body {
        font-size: 13px;
    }
}
