<div class="personal-info" *ngIf="selectedUser | async as user">
    <h1 class="name-info">
        <mat-icon>
            {{user?.verified ? 'how_to_reg' : 'person'}}
        </mat-icon>
        {{user?.name}}
        <span class="user-id">#{{user?.id}}</span>
    </h1>

    <h3 class="age-info">
        <mat-icon>cake</mat-icon>
        {{user?.age}} {{user?.age | chooseDeclension}}
    </h3>

    <h3 class="followers-info">
        <mat-icon>group</mat-icon>
        {{user?.followers.length}}
    </h3>
    <h2>Подписчики ({{followersLength | async}})</h2>
</div>
<div class="followers">
    <app-user-card *ngFor="let follower of followers | async" [user]="follower"></app-user-card>
</div>