/* Применяется к компоненту в целом. */
:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.personal-info {
    margin: 10px;
    margin-top: 0;
}

.personal-info > div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.user-id {
    margin-left: auto;
}

.followers {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    /* align-content: flex-start; */
    width: 100%;
}

div.followers-cards {
    flex-grow: 1;
}

app-user-card {
    margin-bottom: 0;
    flex: auto;
}
